# Ignore sensitive keys to file
keys.ini

# Ignore test cache and archive directories
.test_cache/
.test_archive/
.cache/

# Ignore virtual environment
pTrack/

# Ignore Python cache directories
__pycache__/

# Ignore python versioning system
.python-version
